/* ProfilePage.css */

/* Container styling */
.profile-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  /* User data section */
  .user-data-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .user-data-card,
  .graphical-view-card,
  .test-history-card {
    width: 48%; /* Adjust width as needed */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
  }
  
  /* Responsive layout for smaller screens */
  @media screen and (max-width: 768px) {
    .user-data-section {
      flex-direction: column;
    }
  
    .user-data-card,
    .graphical-view-card,
    .test-history-card {
      width: 100%;
    }
  }
  
  .test-history-table {
    width: 100%;
    max-width: 1200px; /* Adjust the maximum width as needed */
    border-collapse: collapse;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .test-history-table th,
  .test-history-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    
  }
  
  .test-history-table th {
    background-color: #f8f9fa;
  }
  
  .test-history-item:hover {
    background-color: #f0f0f0;
  }
  